body {
    margin: 0;
    font-family: Consolas, monospace;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #1e1e2e;
    color: #c9a2ff;
}


#welcome-message {
    background: #181825;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
}

#welcome-message h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

#welcome-message p {
    font-size: 1.2em;
    margin: 5px 0;
}

.developer-message {
    font-style: italic;
    font-size: 1em;
    color: #c9a2ff;
}

@media (max-width: 768px) {
    #welcome-message h1 {
        font-size: 1.5em;
    }

    #welcome-message p {
        font-size: 1em;
    }

    .developer-message {
        font-size: 0.9em;
    }
}


#main-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}


.container {
    display: flex;
    align-items: center;  
    justify-content: space-between;  
}

